*{
  margin: 0;
  padding: 0;
}

main{
  font-family:'Times New Roman', Times, serif;
  position: relative;
}

.circle{
  border: 2px solid black;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  color: white;
  margin: 50px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.circle::before{
  background-color: tomato;
  content: '';
  border-radius: 50%;
  position: absolute;
  width: 160px;
  height: 160px;
  left: calc(50% - 80px);
  top: calc(50% - 80px);
  z-index: -1;
}

.secondCircle{
  width: 20px;
  height: 20px;
  background-color: black;
  position: absolute;
  border-radius: 50%;
  left: calc(50% - 10px);
  top: calc(50% - 10px);
  animation: rotacion 10s linear infinite;
}

@keyframes rotacion {
  from { transform: rotate(-90deg) translateX(60px); }
  to   { transform: rotate(270deg) translateX(60px); }
}

