*{
  margin: 0;
  padding: 0;
}

main{
  font-family:'Times New Roman', Times, serif;
  position: relative;
}

.circle{
  border: 2px solid black;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  color: white;
  margin: 50px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.circle::before{
  background-color: tomato;
  content: '';
  border-radius: 50%;
  position: absolute;
  width: 160px;
  height: 160px;
  left: calc(50% - 80px);
  top: calc(50% - 80px);
}